<p>
  <strong>Name:</strong>
  <%= @holiday.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @holiday.email %>
</p>
<p>
  <strong>Start date:</strong>
  <%= @holiday.start_date %>
</p>
<p>
  <strong>End date:</strong>
  <%= @holiday.end_date %>
</p>
<p>
  <strong>Special Circumstances:</strong>
  <%= @holiday.Special_Circumstances %>
</p>
<p>
  <strong>Reasons for Refusal:</strong>
  <%= @holiday.Reasons_for_Refusal %>
</p>
<%= link_to 'Back', holidays_path %>